body{
    overflow-x: hidden;
    background-color:thistle;
}

#navbar{
    background-color: #3E065F;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.herotxt{
    color: #3E065F;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.links{
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.links > a{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins';
    line-height: 2;
    color: black;
}

.links > a:hover{
    color: #3E065F;
    font-weight: bold;
}

@media (max-width: 991px){
.links > a{
    font-size: .8rem;
}

.c{
    font-size: 6px;
}

.solutions h5{
    font-size: .8rem !important;
}

}

.solutions h5{
    font-size: 1.2rem;
    text-align: left;
}

.box{
    font-size: 1rem;
}
